* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: rgb(0, 166, 255);
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header > h3 {
  margin-left: 5%;
}

#main-content-container {
  background-color: white;
  height: 49.999vh;
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#page-number {
  align-self: flex-end;
  font-size: 1.5rem;
  margin-right: 1.25%;
  font-weight: 900;
}

#content-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10%;
}

#content-container > #name {
  border-bottom: solid 2px rgb(0, 166, 255);
  margin-bottom: 5%;
}

#demographics-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5%;
}

.demographics-information {
  display: flex;
  padding-top: 2%;
}

.demographics-information > h4 {
  margin-right: 3px;
}

#favorites-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

#favorites-container > ol {
  margin-left: 7.5%;
  padding-bottom: 60px;
}
#favorites-container > ol > li {
  text-align: left;
  padding-top: 1%;
}

#button-bar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 10vh;
  align-items: center;
}

#function-button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100%;
}

.function-buttons {
  padding: 1% 3% 1% 3%;
  min-height: 30px;
  height: 33%;
  border-radius: 14px;
  color: white;
  background-color: rgb(0, 166, 255);
  font-size: 1rem;
  font-weight: bolder;
  border: none;
  line-height: 33%;
}

.navigation-buttons {
  height: 33%;
  border-radius: 14px;
  color: white;
  background: transparent;
  font-size: 1rem;
  font-weight: bolder;
  border: none;
  line-height: 33%;
}
