.styleHeader {
  height: 10vh;
  background-color: #35A5DA;
  display: flex;
  align-items: center;
  font-family: Segoe -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  font-size: 18px;
}

.homeLink {
  margin-left: 40px;
}


.mainContent {
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #222222;
}

.details {
  width: 80%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  background-color: #EBEBEB;
  margin-top: 10vh;
  margin-left: 10%;
}

.tracker {
  font-family: Segoe -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  font-size: 25px;
  margin-right: 2%;
  text-align: right;
}

.fullName {
  font-family: Segoe -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-decoration: underline #35A5DA;
  display: flex;
  margin-left: 10%;
  margin-top: 10px;
}

.description {
  height: 25%; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
}

.personDescription {
  font-family: Segoe -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  font-size: 16px;
  display: flex;
  margin: 0 0 0 10%;
}

.genericLabel {
  font-weight: 400;
  margin-left: 5px;
}

.favMovies {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 25px;
}

.movieList {
  width: 70%;
  text-align: left;
  margin: 8px 0 0 12%;
  font-weight: 400;
}

.movieStyle {
  padding: 0 0 2px 10px;
}

.buttonsContainer {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.noColorButtons {
  font-family: Segoe -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  font-size: 16px;
  margin-top: 10px;
  color: white;
  background-color: #222222;
  border: 0;
}

.buttonsGroup {
  width: 28%;
  display: flex;
  justify-content: space-between;
}

.colorButtons {
  width: 30%;
  font-family: Segoe -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  font-size: 12px;
  color: white;
  margin-top: 5px;
  background-color: #35A5DA;
  border: 0;
  border-radius: 10px;
}